.planet-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.planet-img {
  width: 40%;
}
.planet-name {
  text-align: center;
  color: #f8fafc;
}
.planet-description {
  text-align: center;
  color: #f1f5f9;
}
